body {
  margin: 0;
}

#back-button {
  float: left;
  margin: 15px;
  background-color: #3d38c3;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.widget-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.field {
  width: 30%;
  height: 50px;
  padding: 5px;
  margin: 2px;
  border: 1px solid #d8d7db;
  border-radius: 5px;
  outline: none;
}

.field#data {
  height: 150px;
  resize: vertical;
}

#header-type,
#widget-type,
#save-widget,
#delete-widget {
  width: calc(30% + 12px);
}

#save-widget {
  background-color: #3d38c3;
  color: #fff;
  cursor: pointer;
}

#delete-widget {
  background-color: #b91f1f;
  color: #fff;
  cursor: pointer;
}
